<p>Hallo {{Vorname}},</p>


<p>im Anhang erh채lst du die Rechnung f체r das Trainingslager in Lido di Jesolo, Italien vom 24. M채rz 2016 bis 01. April 2016. Wir bitten dich die Rechnung via e-Banking oder bei der Raiffeisenbank zu begleichen.</p>

<p>Konto Info:<br>
Raiffeisenbank Aergera-Galtera<br>
Leichtathletik<br>
Postfach52<br>
1718 Rechthalten<br>
IBAN  CH47 8089 5000 0061 5382 6</p>

<p>Mit sportlichen Gr체ssen</p>
<p>Kassierer Leichtathletik</p>

<p>Patrick Klaus<p>

<p>Beilage: Rechnung<p>

  
